services:
  web:
    build: .
    ports:
      - "0.0.0.0:8000:8000"  # Explicitly bind to all interfaces
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - APP_PASSWORD=${APP_PASSWORD}
      - FLASK_ENV=development  # Set to development for testing
      - FLASK_DEBUG=1  # Add this for debugging
      - PROXY_FIX=false  # Disable proxy fix for local testing
    volumes:
      - app_secrets:/app/instance/secrets
      - ./app:/app/app  # Add this for development
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  app_secrets: